/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Jan-2015, 22:13:13
    Author     : Milos
*/

html { 
  background: url(../images/bkg_img_2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#div_container_my_calendar{
    background-color: rgba(154, 154, 154, .8);
    color: #ffffff;
}